*{
    font-family:'Playfair Display',serif;
    /* overflow-x: hidden; */
}

body
{
    margin:0;
    padding:0;
    background-color: #131715;
}



/* This is the navigation bar (top and bottom) style section */

.navBar
{
    position: relative;
    top:0;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
    align-items:center;
} 

.navElement, .home
{
    /* background-color: red; */
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 30px 40px;
    width: fit-content;
    margin: 0 auto;
}

.home
{
    transform: scale(1.3);
}

.ri-home-4-line:hover
{
    text-decoration: underline green;
    text-decoration-thickness: 3px;
    padding: 10px;
    transition: all .50s ease;
}

.navElement:hover
{
    text-decoration: underline green;
    text-decoration-thickness: 3px;
    border-radius: 50%;
    width: fit-content;
    transition: all .50s ease;
    transform: translateX(-10px);
}

.logo
{
    font-weight: bold;
    font-size: larger;
    margin-left: 0;
    letter-spacing: 0.8em;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 15px 15px;
    width: fit-content;
}

.navBarBottom
{
    position: relative;
    bottom:0;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    width: 100%;
    align-items:center;
} 

.navBarBottom li a
{
    float: left;
    display: block;
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 30px 40px;
    width: fit-content;
    margin: 0 auto;
}

span
{
    display: flex;
    margin-left: auto;
}

#splitRight
{
    transform: scale(1.3);
}

.ri-linkedin-fill:hover, .ri-github-line:hover
{
    color:steelblue;
    border-radius: 30%;
    border: 1px solid steelblue;
    padding: 0.8px;
}

#splitRight:hover
{
    -webkit-animation: bounce .4s ease infinite alternate;

}

@-webkit-keyframes bounce {
    0%{    }
    100%{
        transform:translateY(-20px);
        transform: scale(1.5);
    }
}

/* This is the contact form style section */
.contactForm
{
    margin: 50vw 50vw;
}

/* This is the internships style section */

.tableSectionIntern
{
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    grid-row-gap: 5px;
    margin: 0 auto 0 20%;
    
}

.tableStyleIntern,
.tableStyleIntern tr
{
    margin: 10px;
    padding: 5px 5px;
    /* border: 2px solid grey; */
    width: 60vw; 
    text-align: center;
}

.tableStyleIntern th
{
    border-bottom: 2px solid grey;
    padding-bottom: 10px;
    background-color: black;
    color:white;
    letter-spacing: 0.3em;
    font-weight: lighter;
}

.tableStyleIntern img
{
    width: 100%;
    height: 100%;
    object-fit: contain;   
}

/* This is the school style section */

.pageSchool
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    width: 100%;
}

.pageTitle h1
{
    color:whitesmoke;
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    letter-spacing: 0.3em;
}

.pageTitle h1::after
{
    content:"";
    height: 5px; 
    width: 200px;
    background-color: whitesmoke; 
    display: block;
    margin: auto;
}

.semesters
{
    width: 85%;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    /* grid-template-columns: auto; */
    align-items: center;
    margin: 50px auto;
    text-align: center;
}

.cards
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 20px 20px;
    padding: 5px 0px;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    opacity: 0.5;
    
}

.cards h2
{
    font-size: 25px;
    color: #131715;
    margin-bottom: 25px;
}

.cards p
{
    font-size: 15px;
    padding: auto;
}

.cards:hover
{
    background-color: #Caded6;
    opacity: 1.0;
    box-shadow: 1px 1px 10px 5px rgba(17, 136, 20, 0.8);
}

/* This is the main page style section */
